$white: #FFF;
$dark: #333333;
$green: #076857;
$light-gray: #D3C7AF;
$gray: #948C85;
$light-brown: #9B8169;
$brown: #7E6C47;
$dark-brown: #39291A;
$beige: #E6DBC1;
$beige-2: #E5DCC4;
$beige-3: #FFF8E7;
$red: #EB5757;

$border-color: #E4D7B4;

$btn-bg: #106C5C;
$btn-color: #F9EFD4;

$font-size: 1rem;
$font-size-lg: 1.25rem;
$font-size-sm: 0.8125rem;

$font-family-rubik: 'Rubik', sans-serif;
$font-family-playfair: 'Playfair Display', serif;
$font-family-als: 'ALS Rubl', sans-serif;